.price {
    padding: 0;
}
.total {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left:200px;
    margin-right:200px;
    margin-top:100px;
    column-gap: 20px;
}
.header {
    text-align: center;
    color:rgb(66, 66, 66);
    line-height: 44px;
    font-weight:600;
    font-size:28px;
    font-family:sans-serif;
}
.para {
    color:rgb(102,102,102);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-top:15px;
    margin-bottom:15px;
}

